In [4]:
import pandas as pd
import numpy as np
import cv2
import os

In [5]:
df = pd.read_csv('annotation_1_test.csv')

In [6]:
df.tail(2)

,Абсолютный путь,Относительный путь,Имя классa
2009,/home/cossieman2000/WORK/python/dataset/polar ...,/python/dataset/polar bear/0986.jpg,polar bear
2010,/home/cossieman2000/WORK/python/dataset/polar ...,/python/dataset/polar bear/0987.jpg,polar bear

In [7]:
df.drop(['Относительный путь'], inplace = True, axis = 1)

In [7]:
df.tail(2)

                                        Абсолютный путь  Имя классa
2009  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear
2010  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear

In [8]:
df.rename(columns = {'Абсолютный путь': 'path', 'Имя классa': 'class_name'}, inplace = True)

In [15]:
df.tail(2)

                                                   path  class_name
2009  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear
2010  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear

In [9]:
mask = (df.class_name == 'brown bear')

In [10]:
df['label'] = 0

In [11]:
df.loc[df['class_name'] == 'polar bear', 'label'] = 1

In [30]:
df

                                                   path  class_name  label
0     /home/cossieman2000/WORK/python/dataset/brown ...  brown bear      0
1     /home/cossieman2000/WORK/python/dataset/brown ...  brown bear      0
2     /home/cossieman2000/WORK/python/dataset/brown ...  brown bear      0
3     /home/cossieman2000/WORK/python/dataset/brown ...  brown bear      0
4     /home/cossieman2000/WORK/python/dataset/brown ...  brown bear      0
...                                                 ...         ...    ...
2006  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear      1
2007  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear      1
2008  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear      1
2009  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear      1
2010  /home/cossieman2000/WORK/python/dataset/polar ...  polar bear      1

[2011 rows x 3 columns]

In [12]:
width_list = []
height_list = []
depth_list = []
df['width'] = 0
pictures = df['path'].values[:]
for picture in pictures:
    if os.path.exists(str(picture)):
        #print(picture) 
        #print(cv2.imread(picture).shape[1])
        width_list.append(cv2.imread(picture).shape[1])
        height_list.append(cv2.imread(picture).shape[0])
        depth_list.append(cv2.imread(picture).shape[2])

In [13]:
df['width'] = width_list
df['height'] = height_list
df['depth'] = depth_list
df

,path,class_name,label,width,height,depth
0,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2048,1371,3
1,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2560,1600,3
2,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1200,3
3,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1280,3
4,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,3867,2578,3
...,...,...,...,...,...,...
2006,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1600,900,3
2007,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1000,664,3
2008,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1400,1050,3
2009,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2000,1333,3
2010,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2560,1600,3

In [18]:
df['mean_width'] = 0
df

,path,class_name,label,width,height,depth,mean_width
0,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2048,1371,3,0
1,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2560,1600,3,0
2,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1200,3,0
3,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1280,3,0
4,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,3867,2578,3,0
...,...,...,...,...,...,...,...
2006,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1600,900,3,0
2007,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1000,664,3,0
2008,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1400,1050,3,0
2009,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2000,1333,3,0
2010,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2560,1600,3,0

In [20]:
df.loc[df['label'] == 1, 'mean_width'] = df.loc[df['label'] == 1, 'width'].mean()
df

,path,class_name,label,width,height,depth,mean_width
0,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2048,1371,3,0.000000
1,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,2560,1600,3,0.000000
2,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1200,3,0.000000
3,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,1920,1280,3,0.000000
4,/home/cossieman2000/WORK/python/dataset/brown ...,brown bear,0,3867,2578,3,0.000000
...,...,...,...,...,...,...,...
2006,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1600,900,3,1780.444332
2007,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1000,664,3,1780.444332
2008,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,1400,1050,3,1780.444332
2009,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2000,1333,3,1780.444332
2010,/home/cossieman2000/WORK/python/dataset/polar ...,polar bear,1,2560,1600,3,1780.444332